/* Cascading Style Sheets */
/* 'rules': selector, declaration block (attributes + values) */
html {
  height: 100%;
  width: 100%;
}

h1 {
    text-align: center;
    line-height: 60%;
}

img {
    width: 200px;
}
/* applies to all img tags */

body {
  font-family: 'Reddit Sans';
  background-color: #e5f0ff;
  color: #1a1a1f;
  /* margin: 0px 40px 0px 40px; */
  /* top right bottom left */
}

.sidenav {
  height: 100%;
  width: 180px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #010812;
  overflow-x: hidden;
  padding-top: 20px;
}
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}
.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 180px; /* Same as the width of the sidenav */
  font-size: 14px;
  padding: 10px 20px; /* No top/bottom padding, 10px on left/right */ 
}

@media screen and (max-height: 450px) { /* if max height leq 450px.. */ 
  .sidenav {padding-top: 15px;}
}
@media screen and (max-width: 550px) { /* if max height leq 450px.. */ 
  .sidenav {width: 150px;}
  .main {margin-left: 150px;}
}

.zoomimg {
  width: 300px;
  height: auto;
  overflow: hidden;
}

.zoomimg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all .3s ease;
}

.zoomimg img:hover {
  transform: scale(1.2);
}
